# ==========================================
# IGNORAR ARCHIVOS AUTOGENERADOS Y PESADOS
# ==========================================

# 1. Carpetas de compilación de PyInstaller e Inno Setup
build/
dist/
installer_output/

# 2. Archivos ejecutables y empaquetados
*.exe
*.spec

# 3. Archivos temporales de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
src/**/bin/
src/**/obj/
cad-packages/**/Contents/**/*.dll
cad-packages/**/Contents/**/*.pdb
cad-packages/**/Contents/**/*.deps.json
cad-packages/**/Contents/**/*.runtimeconfig.json

# 4. Archivos de sistema operativo (Basura de Windows)
Thumbs.db
desktop.ini